{% extends 'base.panel.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    {{ project.id }}
    {{ dump(project) }}
    <div class="card">
        <div class="table-responsive">
            <table class="table align-items-center mb-0">
                <thead>
                <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nazwa</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Priorytet</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Postęp</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Szacowany czas</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Przepracowany czas</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for task in pagination %}
                    <tr>
                        <td class="align-items-center">
                            <div class="d-flex px-2">
                                <div class="my-auto">
                                    <h6 class="mb-0 text-xs">#{{ task.id }}</h6>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{ task.name }}</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{ task.priority ?? 'Brak' }}</p>
                        </td>
                        <td class="align-middle text-start">
                            <div class="d-flex align-items-center">
                                <div class="progress-wrapper w-100">
                                    <div class="progress-info">
                                        <div class="progress-percentage">
                                            <span class="text-sm font-weight-bold">{{ task.progress ?? 0 }}%</span>
                                        </div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="{{ task.progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ task.progress }}%;"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{ task.estimatedTime }}</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">{{ task.workedTime }}</p>
                        </td>
                        <td class="align-middle">
                            <button class="btn btn-link text-secondary mb-0">
                                <i class="fa fa-ellipsis-v text-xs" aria-hidden="true"></i>
                            </button>
                            <a href="{{ path('app_task_show', {'projectId' : task.project.id, 'taskId' : task.id}) }}">Podgląd</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {{ knp_pagination_render(pagination) }}
    </div>
    {% include('modals/modals.html.twig') %}
{% endblock %}
